.memeWrapper{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  input{
    width: 150px;
    height: 25px;
    margin: .5rem 0;
  }

}

.imgTxtWrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.memeImg{
  background-repeat: no-repeat;
  height: 70vh;
}


.upText,
.botText{
  position: absolute;
  color: white;
  text-transform: uppercase;
  font-family: Impact,sans-serif;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
  -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
  2px 2px 5px #000;
  width: 60%;
  text-align: center;
  overflow-x: scroll;
  overflow-wrap: break-word;
}

.upText{
  top:15%;
}

.botText{
  top:70%;
}

.memeButton{
  text-decoration: none;
  padding: 1rem;
  background-color: #ffc200;
  font-weight: 700;
  cursor: pointer;
  border: none;
  &:focus{
    outline: none;
  }
  &:active{
    box-shadow: inset 0 0 10px crimson;
  }
}